<div id="cart">
            <div class="cart-empty">
                  <ul class="header-index">
                        <li class="left">
                              <span>
                                    <img src="https://static.nubia.cn/mobile/images/m_logo.png"
                                    style="width: 100%;">
                              </span> 
                        </li>
                        <li class="right">
                              <a href="" class="user"> <i class="yo-ico">&#xe61d;</i></a>
                              <a href="" class="cart"> <i class="yo-ico">&#xe607;</i></a>
                        </li>
                  </ul>
                  <div class="shop-empty">
                        <div class="tip-msg"></div>
                        <h3>购物车还是空的</h3>
                        <p>现在就去选购吧</p>
                        <div class="tip-btn">
                              <a href="" class="button disable_button"data-hash='home'>去逛逛</a>
                        </div>
                  </div>
            </div>
      </div>
</div>
 
