<div class="search">
    <div class="searchBox">红魔3</div>
    <a href="" class="searchMsg">
        <i class="yo-ico">&#xe731;</i>
    </a>
</div>
<div class="nav_left">
    <ul>
        <li><a href="#" class="active">红魔</a></li>
        <li><a href="#" class="">X系列</a></li>
        <li><a href="#" class="">Z系列</a></li>
        <li><a href="#" class="">N/V/M系列</a></li>
        <li><a href="#" class="">保护套</a></li>
        <li><a href="#" class="">耳机</a></li>
        <li><a href="#" class="">数据线</a></li>
        <li><a href="#" class="">周边产品</a></li>
    </ul>
</div>
<div id="home" class="page-index">
        <!-- <a href="#" class="title">
            <p class="telphone">红魔系列</p>
        </a>
        <ul>
            <li><a href=""><img src="//oss.static.nubia.cn/active/5cc509862275d5.png">
                    <p>红魔3 赤焰红</p>
                </a></li>
        </ul>
        <p><a href="">查看更多红魔 ></a></p> -->
</div>