<div class="index-wrap">
      <main>
            <div class="search">
                  <div class="searchLogo"></div>
                  <div class="searchBox">红魔3</div>
                  <a href="" class="searchMsg">
                        <i class="yo-ico">&#xe622;</i>
                  </a>
            </div>
            <div class="banner">
                  <div class="swiper-container">
                        <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                    <a href=""><img src="https://oss.static.nubia.cn/blockimage/156505363185.jpg" /></a>
                              </div>
                              <div class="swiper-slide">
                                    <a href=""><img src="https://oss.static.nubia.cn/blockimage/156453699819.jpg" /></a>
                              </div>
                              <div class="swiper-slide">
                                    <a href=""><img src="https://oss.static.nubia.cn/blockimage/156393624130.jpg" /></a>
                              </div>
                              <div class="swiper-slide">
                                    <a href=""><img src="https://oss.static.nubia.cn/blockimage/156393612949.jpg" /></a>
                              </div>
                              <div class="swiper-slide">
                                    <a href=""><img src="https://oss.static.nubia.cn/blockimage/156393627612.jpg" /></a>
                              </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev mySwiperBtn "></div>
                        <div class="swiper-button-next mySwiperBtn"></div>
                  </div>
            </div>
            <div class="show-big">
                  <div class="col2">
                        <div class="row2 ">
                              <a href=""><img src="http://oss.static.nubia.cn/blockimage/15564443224.jpg" alt="">
                              </a>
                        </div>
                        <div class="rows">
                              <div class="row1">
                                    <a class="img" href=""><img
                                                src="http://oss.static.nubia.cn/blockimage/155902935039.jpg">
                                    </a>
                              </div>
                              <div class="row1">
                                    <a class="img" href=""><img
                                                src="http://oss.static.nubia.cn/blockimage/155954908247.jpg">
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>

            <div class="list new-list">
                  <h2>热销机型</h2>
                  <div class="list-hot">

                  </div>
            </div>
            <div class="morePhone">
                  <a href="./phone.html"> <span> 查看更多手机 &gt; </span></a>
            </div>
            <div class="list new-list">
                  <h2>精选配件</h2>
                  <div class="list-parts">

                  </div>
            </div>
            <div class="morePhone">
                  <a href="./parts.html"> <span> 查看更多配件或周边产品 &gt; </span></a>
            </div>
            <div class="service">
                  <a href="" class="serviceCard">
                        <div class="serviceInfo">
                              <div>
                                    <p class="serviceTitle">在线客服</p>
                                    <p class="serviceMessage">7*24小时 全年无休</p>
                              </div>
                        </div>
                  </a>
                  <a href="tel:4007006600" class="serviceCard">
                        <div class="serviceInfo">
                              <div>
                                    <p class="serviceTitle">客服热线400-700-6600</p>
                                    <p class="serviceMessage">周一至周日 8:30-20:30 全年无休</p>
                              </div>

                        </div>
                  </a>
            </div>
            <div class="more">
                  没有更多啦...
            </div>
      </main>
      <div class="back_top">
            <img src="https://shop-soa-static.nubia.com/images/buy_mobile/toTop.png?v=1564474669">
      </div>
      <footer>
            <ul>
                  <li class="active" data-hash="home">
                        <i class="yo-ico">&#xe7d8;</i>
                        <b>首页</b>
                  </li>
                  <li data-hash="classify">
                        <i class="yo-ico">&#xe7f9;</i>
                        <b>分类</b>
                  </li>
                  <li data-hash="discover">
                        <i class="yo-ico">&#xe604;</i>
                        <b>发现</b>
                  </li>
                  <li data-hash="cart">
                        <i class="yo-ico">&#xe603;</i>
                        <b>购物车</b>
                  </li>
                  <li data-hash="profile">
                        <i class="yo-ico">&#xe7ab;</i>
                        <b>我</b>
                  </li>
            </ul>
      </footer>

</div>