<header>
        <a href="./index.html">
            <i class="yo-ico">&#xe605;</i>
            <span>手机</span>
        </a>
</header>
    <div class="products">
        <ul>
            <li><a href=""><span class="active">综合</span></a></li>
            <li><a href=""><span>价格</span></a></li>
            <li><a href=""><span>筛选</span></a></li>
            <li><a href=""><span class="yo-ico">&#xe620;</span></a></li>
        </ul>
    </div>
    <div class="wrap">
            <ul class="phone-list">
            <!-- <li class="phone-item" >
                <a href="">
                    <div class="phone-img">
                            <img src="//oss.static.nubia.cn/active/5cc5098616ecf44.png" alt="">
                    </div>
                    <div class="phone-desc">
                        <div class="title">红魔3 玄铁黑 6GB+128GB</div>
                        <div class="small">&nbsp;</div>
                        <div class="price">
                            <span style="font-size: .12rem; color: rgb(255, 94, 94);"><i class="priceIcon">¥</i>2799
                            <del style="font-size: .10rem; color: rgb(139, 139, 139);">3199</del></span>
                        </div>
                    </div>
                </a>
            </li> -->    
   </ul>
    </div>
    <footer></footer>