<div class="bg">
<div class="header">
        <div class="left">
            <a title="nubia商城" id="goback" class="home">
                <i class="yo-ico">&#xe605;</i>
                <span>发现</span>
            </a>
        </div>
    </div>
    <div class="nav">
        <div class="activeNav" data-hash ="products">
            <a href="">产品热评</a>
        </div>
        <div >
            <a href="">体验店</a>
        </div>
        <div>
            <a href="" data-hash="news">新闻中心</a>
        </div>
        <div>
            <a href="" data-hash = videos>视频长廊</a>
        </div>
    </div>
    <div id="lists" class="news-list">
        <!-- <div class="news-section">
            <a href="">
                <img src="https://oss.static.nubia.cn/NewsCenter/2019-03-19/1fa477a79fb986407e6182950fbcf00b.jpg"
                    alt="拯救安卓手游的“魔”物来了">
            </a>
            <div class="news-wrap">
                <a href="">
                    <h3 style="color:#4f4f4f">拯救安卓手游的“魔”物来了</h3>
                    <p class="news-info">红魔Mars,努比亚</p>
                </a>
                <p class="tips">
                    <span>2019-03-19</span>
                    <span><i class="yo-icon"></i>16011</span>
                </p>
            </div>
        </div> -->
    </div>
</div>
