{{each list2}}
    <div class="row">
                <div class="cell">
                    <a href="../../details.html">
                        <img src="http://oss.static.nubia.cn/{{$value.small_image}}" alt="">
                        <div class="cell-text">
                                <span class="phone-name">{{$value.title}}</span>
                                <span style="color:#FF4D4D">{{$index.sub_title}}</span>
                        </div>
                        <p class="phone-price"><span style="color: rgb(239, 65, 35);"></span> <span style="color: rgb(239, 65, 35);">￥<span>{{$value.block_products.price}}</span> </p>
                    </a>
                </div>
                <div class="cell">
                        <a href="">
                            <img src="http://oss.static.nubia.cn/{{$value.small_image}}" alt="">
                            <div class="cell-text">
                                    <span class="phone-name">{{$value.title}}</span>
                                    <span style="color:#FF4D4D">{{$index.sub_title}}</span>
                            </div>
                            <p class="phone-price"><span style="color: rgb(239, 65, 35);"></span> <span style="color: rgb(239, 65, 35);">￥<span>{{$value.block_products.price}}</span>
                                
                                </span></p>
                        </a>
                </div>
        </div>
 {{/each}}