      <section class="pos-wrap">
            <h2>10秒钟定制职位</h2>
            <button id="btn"><a href="">去登录</a></button>
        </section>
        <ul class="list">
            <!-- <li class="item">
                <img src="//www.lgstatic.com/i/image2/M01/66/75/CgotOVtC3nCAN9BIAABD3e9y5ik930.png" alt="">
                <div class="item-desc">
                    <h2 class="item-title">鹿屿公寓</h2>
                    <p class="item-info">
                        <span class="item-pos">品牌公寓管家 [ 深圳 ]</span>
                        <span class="item-salary">20k-25k</span>
                    </p>
                    <p class="item-time">2020年5月20日</p>
                </div>
            </li> -->
        </ul>
        <div class="foot">
           <span>加载更多...</span>
        </div>
        <div class="copyright">
            <p>©2019 lagou.com, all right reserved </p>
            <ul>
                <li class="active">移动版</li>
                <li>电脑版</li>
                <li>回顶部</li>
            </ul>
        </div>